<div class="container centered clear-pad">
    <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12 pad-sm">
        <form #loginForm="ngForm"  novalidate class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-level-1">
                    <div class="panel-heading">
                        <span class="panel-title cursor-ptr">Login</span>
                    </div>
                    <div class="panel-body">
                        <div class="margin-bottom15">
                            <div class="form-group">
                                <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label required">Username</label>
                                <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
                                    <input type="text" name="userName" maxlength="200" class="form-control"
                                           [(ngModel)]="username" #usernameX="ngModel"
                                           placeholder="Enter user name"/>
                                    <small [hidden]="true" class="alert alert-danger">
                                        "Username is required (minimum 4 characters)"
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label required">Password</label>
                                <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
                                    <input type="password" name="password" maxlength="200" class="form-control"
                                           [(ngModel)]="password" #passwordX="ngModel"
                                           placeholder="Enter password"/>
                                    <small [hidden]="true" class="alert alert-danger">
                                        "Password is required"
                                    </small>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-2 col-xs-1 col-xxs-12 pull-right margin-bottom15">
                                <button class="btn btn-primary col-xxs-center" (click)="login(loginForm.value)" title="Login">
                                    Login
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
